@using Sandbox;
@using Sandbox.UI;
@namespace Kodoku.UI
@inherits Panel

<root class="page-placeholder">
	<div class="page-title">Quests</div>
	<div class="page-description">Quest tracking will be integrated later.</div>
</root>
