@namespace Kodoku.Lib.UI.Pages

<root class="game-menu-page options-page">
	<div class="page-placeholder">
		<span class="placeholder-label">Options</span>
		<h2>Options page placeholder</h2>
	</div>
</root>
